{% extends "users/_layout.html" %}

{% block title %} FAQ &#8211; Golden Top Hotel {% endblock %}

{% block content %}
    <div class="hotale-page-title-wrap hotale-style-custom hotale-center-align">
        <div class="hotale-header-transparent-substitute"></div>
        <div class="hotale-page-title-overlay"></div>
        <div class="hotale-page-title-container hotale-container">
            <div class="hotale-page-title-content hotale-item-pdlr">
                <h1 class="hotale-page-title">FAQ</h1>
                <div class="hotale-page-caption">Frequently Asked Questions</div>
            </div>
        </div>
    </div>
    <div class="hotale-page-wrapper" id="hotale-page-wrapper">
        <div class="gdlr-core-page-builder-body">
            <div class="gdlr-core-pbf-wrapper" id="gdlr-core-wrapper-1">
                <div class="gdlr-core-pbf-background-wrap"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-tab-item gdlr-core-js gdlr-core-item-pdb gdlr-core-left-align gdlr-core-tab-style2-vertical gdlr-core-item-pdlr" id="gdlr-core-tab-1">
                                <div class="gdlr-core-tab-item-title-wrap clearfix gdlr-core-title-font">
                                    <div class="gdlr-core-tab-item-title gdlr-core-active" data-tab-id="1">Is there a swimming pool in the hotel?</div>
                                    <div class="gdlr-core-tab-item-title" data-tab-id="2">Is a babysitting service available?</div>
                                    <div class="gdlr-core-tab-item-title" data-tab-id="3">How do I get to the hotel from the airport?</div>
                                    <div class="gdlr-core-tab-item-title" data-tab-id="4">Can I connect my laptop in the room?</div>
                                    <div class="gdlr-core-tab-item-title" data-tab-id="5">Does the internet rate include breakfast?</div>
                                    <div class="gdlr-core-tab-item-title" data-tab-id="6">How many people can stay in one room?</div>
                                    <div class="gdlr-core-tab-item-title-line gdlr-core-skin-divider"></div>
                                </div>
                                <div class="gdlr-core-tab-item-content-wrap clearfix">
                                    <div class="gdlr-core-tab-item-content gdlr-core-active" data-tab-id="1" style="color: #6b6b6b;">
                                        <p>
                                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                                            Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts
                                            of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.
                                        </p>
                                        <p>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: -15px;"></span><br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The modern practice of yoga as a form of exercise developed from medieva</span><span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span>
                                            <br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The book received some positive reviews. Krysta Gibson, reviewing the book for New Spirit Journal</span>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span><br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The critic and yoga teacher Matthew Remski compares historians of yoga </span><span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span>
                                            <br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">In Remski&#8217;s view, along comes &#8220;Goldberg with a dozen years of dogged research, a sleuthing style</span>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: 30px;"></span>
                                        </p>
                                        <p>
                                            The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her
                                            seven versalia.
                                        </p>
                                    </div>
                                    <div class="gdlr-core-tab-item-content" data-tab-id="2" style="color: #6b6b6b;">
                                        <p>
                                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                                            Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts
                                            of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.
                                        </p>
                                        <p>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: -15px;"></span><br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The modern practice of yoga as a form of exercise developed from medieva</span><span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span>
                                            <br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The book received some positive reviews. Krysta Gibson, reviewing the book for New Spirit Journal</span>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span><br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The critic and yoga teacher Matthew Remski compares historians of yoga </span><span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span>
                                            <br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">In Remski&#8217;s view, along comes &#8220;Goldberg with a dozen years of dogged research, a sleuthing style</span>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: 30px;"></span>
                                        </p>
                                        <p>
                                            The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her
                                            seven versalia.
                                        </p>
                                    </div>
                                    <div class="gdlr-core-tab-item-content" data-tab-id="3" style="color: #6b6b6b;">
                                        <p>
                                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                                            Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts
                                            of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.
                                        </p>
                                        <p>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: -15px;"></span><br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The modern practice of yoga as a form of exercise developed from medieva</span><span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span>
                                            <br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The book received some positive reviews. Krysta Gibson, reviewing the book for New Spirit Journal</span>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span><br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The critic and yoga teacher Matthew Remski compares historians of yoga </span><span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span>
                                            <br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">In Remski&#8217;s view, along comes &#8220;Goldberg with a dozen years of dogged research, a sleuthing style</span>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: 30px;"></span>
                                        </p>
                                        <p>
                                            The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her
                                            seven versalia.
                                        </p>
                                    </div>
                                    <div class="gdlr-core-tab-item-content" data-tab-id="4" style="color: #6b6b6b;">
                                        <p>
                                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                                            Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts
                                            of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.
                                        </p>
                                        <p>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: -15px;"></span><br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The modern practice of yoga as a form of exercise developed from medieva</span><span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span>
                                            <br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The book received some positive reviews. Krysta Gibson, reviewing the book for New Spiri</span>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span><br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The critic and yoga teacher Matthew Remski compares historians of yoga </span><span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span>
                                            <br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">In Remski&#8217;s view, along comes &#8220;Goldberg with a dozen years of dogged research, a sleuthing style</span>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: 30px;"></span>
                                        </p>
                                        <p>
                                            The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her
                                            seven versalia.
                                        </p>
                                    </div>
                                    <div class="gdlr-core-tab-item-content" data-tab-id="5" style="color: #6b6b6b;">
                                        <p>
                                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                                            Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts
                                            of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.
                                        </p>
                                        <p>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: -15px;"></span><br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The modern practice of yoga as a form of exercise developed from medieva</span><span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span>
                                            <br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The book received some positive reviews. Krysta Gibson, reviewing the book for New Spirit Journal</span>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span><br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The critic and yoga teacher Matthew Remski compares historians of yoga </span><span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span>
                                            <br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">In Remski&#8217;s view, along comes &#8220;Goldberg with a dozen years of dogged research, a sleuthing style</span>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: 30px;"></span>
                                        </p>
                                        <p>
                                            The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her
                                            seven versalia.
                                        </p>
                                    </div>
                                    <div class="gdlr-core-tab-item-content" data-tab-id="6" style="color: #6b6b6b;">
                                        <p>
                                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                                            Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts
                                            of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.
                                        </p>
                                        <p>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: -15px;"></span><br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The modern practice of yoga as a form of exercise developed from medieva</span><span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span>
                                            <br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The book received some positive reviews. Krysta Gibson, reviewing the book for New Spirit Journal</span>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span><br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">The critic and yoga teacher Matthew Remski compares historians of yoga </span><span class="gdlr-core-space-shortcode" style="margin-top: -13px;"></span>
                                            <br />
                                            <i class="fa fa-dot-circle-o" style="font-size: 17px; color: #111111; margin-right: 10px;"></i>
                                            <span style="color: #111111;">In Remski&#8217;s view, along comes &#8220;Goldberg with a dozen years of dogged research, a sleuthing style</span>
                                            <span class="gdlr-core-space-shortcode" style="margin-top: 30px;"></span>
                                        </p>
                                        <p>
                                            The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her
                                            seven versalia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-wrapper" style="padding-top: 20px; padding-bottom: 50px;" id="gdlr-core-wrapper-2">
                <div class="gdlr-core-pbf-background-wrap"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"><div class="gdlr-core-divider-line gdlr-core-skin-divider"></div></div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first" data-skin="Newsletter FAQ" id="gdlr-core-column-1">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="padding-top: 80px; padding-bottom: 90px;">
                                <div class="gdlr-core-pbf-background-wrap">
                                    <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-repeat: no-repeat; background-position: top center;" data-parallax-speed="0"></div>
                                </div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js" style="max-width: 700px;">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 50px;">
                                            <div class="gdlr-core-title-item-title-wrap">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title class-test" style="font-size: 49px; font-weight: 500; text-transform: none; color: #0a0a0a;">
                                                    Subscribe to our newsletter<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                                </h3>
                                            </div>
                                            <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 18px; font-style: normal; letter-spacing: 0px; color: #6b6b6b;">
                                                Get updates for new classes and new products
                                            </span>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-newsletter-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-style-round2" style="padding-bottom: 0px;" id="gdlr-core-newsletter-1">
                                            <div class="newsletter newsletter-subscription">
                                                <form class="gdlr-core-newsletter-form clearfix" method="post" action="https://demo.goodlayers.com/hotale/resort/?na=s" onsubmit="return newsletter_check(this)">
                                                    <div class="gdlr-core-newsletter-email">
                                                        <input class="newsletter-email gdlr-core-skin-e-background gdlr-core-skin-e-content" placeholder="Your Email Address" type="email" name="ne" size="30" required />
                                                    </div>
                                                    <div class="gdlr-core-newsletter-submit"><input class="newsletter-submit" type="submit" value="Subscribe" /></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}