{% set active = "gallery" %}
{% extends "users/_layout.html" %}

{% block title %} Gallery &#8211; Golden Top Hotel {% endblock %}

{% block content %}
    <div class="hotale-page-title-wrap hotale-style-custom hotale-center-align">
        <div class="hotale-header-transparent-substitute"></div>
        <div class="hotale-page-title-overlay" style="background-color: #f8f8f8;"></div>
        <div class="hotale-page-title-container hotale-container">
            <div class="hotale-page-title-content hotale-item-pdlr"><h1 class="hotale-page-title">Gallery</h1></div>
        </div>
    </div>
    <div class="hotale-page-wrapper" id="hotale-page-wrapper">
        <div class="gdlr-core-page-builder-body">
            <div class="gdlr-core-pbf-wrapper" style="padding: 120px 20px 50px 20px;">
                <div class="gdlr-core-pbf-background-wrap" style="background-color: #f7f7f7;"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 60px;">
                                <div class="gdlr-core-title-item-title-wrap">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title class-test" style="text-transform: none;">
                                        Artistry, Imagination, Exploration.<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-gallery-item gdlr-core-item-pdb clearfix gdlr-core-gallery-item-style-thumbnail gdlr-core-item-pdlr">
                                <div class="gdlr-core-gallery-with-thumbnail-wrap gdlr-core-inside-slider">
                                    <div class="gdlr-core-flexslider flexslider gdlr-core-js-2" data-type="slider" data-effect="default" data-nav="navigation" data-thumbnail="1">
                                        <ul class="slides">
                                            <li>
                                                <div class="gdlr-core-gallery-list gdlr-core-media-image">
                                                    <a
                                                        class="gdlr-core-lightgallery gdlr-core-js"
                                                        href="/static/users/assets/upload/shutterstock_1069630346.jpg"
                                                        data-lightbox-group="gdlr-core-img-group-5"
                                                    >
                                                        <img
                                                            src="/static/users/assets/upload/shutterstock_1069630346-1280x580.jpg"
                                                            alt=""
                                                            width="1280"
                                                            height="580"
                                                            title="Sofa"
                                                        />
                                                        <span class="gdlr-core-image-overlay gdlr-core-gallery-image-overlay gdlr-core-center-align">
                                                            <span class="gdlr-core-image-overlay-content"><span class="gdlr-core-image-overlay-title gdlr-core-title-font">Sofa</span></span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="gdlr-core-gallery-list gdlr-core-media-image">
                                                    <a
                                                        class="gdlr-core-lightgallery gdlr-core-js"
                                                        href="/static/users/assets/upload/shutterstock_560973166.jpg"
                                                        data-lightbox-group="gdlr-core-img-group-5"
                                                    >
                                                        <img
                                                            src="/static/users/assets/upload/shutterstock_560973166-1280x580.jpg"
                                                            alt=""
                                                            width="1280"
                                                            height="580"
                                                            title="Hotel Room"
                                                        />
                                                        <span class="gdlr-core-image-overlay gdlr-core-gallery-image-overlay gdlr-core-center-align">
                                                            <span class="gdlr-core-image-overlay-content"><span class="gdlr-core-image-overlay-title gdlr-core-title-font">Hotel Room</span></span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="gdlr-core-gallery-list gdlr-core-media-image">
                                                    <a
                                                        class="gdlr-core-lightgallery gdlr-core-js"
                                                        href="/static/users/assets/upload/shutterstock_324822821.jpg"
                                                        data-lightbox-group="gdlr-core-img-group-5"
                                                    >
                                                        <img
                                                            src="/static/users/assets/upload/shutterstock_324822821-1280x580.jpg"
                                                            alt=""
                                                            width="1280"
                                                            height="580"
                                                            title="Living Room"
                                                        />
                                                        <span class="gdlr-core-image-overlay gdlr-core-gallery-image-overlay gdlr-core-center-align">
                                                            <span class="gdlr-core-image-overlay-content"><span class="gdlr-core-image-overlay-title gdlr-core-title-font">Living Room</span></span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="gdlr-core-gallery-list gdlr-core-media-image">
                                                    <a
                                                        class="gdlr-core-lightgallery gdlr-core-js"
                                                        href="/static/users/assets/upload/shutterstock_307470824.jpg"
                                                        data-lightbox-group="gdlr-core-img-group-5"
                                                    >
                                                        <img
                                                            src="/static/users/assets/upload/shutterstock_307470824-1280x580.jpg"
                                                            alt=""
                                                            width="1280"
                                                            height="580"
                                                            title="The breakfast"
                                                        />
                                                        <span class="gdlr-core-image-overlay gdlr-core-gallery-image-overlay gdlr-core-center-align">
                                                            <span class="gdlr-core-image-overlay-content"><span class="gdlr-core-image-overlay-title gdlr-core-title-font">The breakfast</span></span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="gdlr-core-sly-slider gdlr-core-js-2">
                                        <ul class="slides">
                                            <li class="gdlr-core-gallery-list gdlr-core-item-mglr">
                                                <div class="gdlr-core-media-image">
                                                    <img src="/static/users/assets/upload/shutterstock_1069630346-300x200.jpg" alt="" width="300" height="200" title="Sofa" />
                                                </div>
                                            </li>
                                            <li class="gdlr-core-gallery-list gdlr-core-item-mglr">
                                                <div class="gdlr-core-media-image">
                                                    <img src="/static/users/assets/upload/shutterstock_560973166-300x225.jpg" alt="" width="300" height="225" title="Hotel Room" />
                                                </div>
                                            </li>
                                            <li class="gdlr-core-gallery-list gdlr-core-item-mglr">
                                                <div class="gdlr-core-media-image">
                                                    <img
                                                        src="/static/users/assets/upload/shutterstock_324822821-300x200.jpg"
                                                        alt=""
                                                        width="300"
                                                        height="200"
                                                        title="Living Room"
                                                    />
                                                </div>
                                            </li>
                                            <li class="gdlr-core-gallery-list gdlr-core-item-mglr">
                                                <div class="gdlr-core-media-image">
                                                    <img
                                                        src="/static/users/assets/upload/shutterstock_307470824-300x200.jpg"
                                                        alt=""
                                                        width="300"
                                                        height="200"
                                                        title="The breakfast"
                                                    />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-wrapper" style="padding: 120px 20px 0px 20px;">
                <div class="gdlr-core-pbf-background-wrap" style="background-color: #ffffff;"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 60px;">
                                <div class="gdlr-core-title-item-title-wrap">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title class-test" style="text-transform: none;">
                                        Gallery Vertical<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                    </h3>
                                </div>
                                <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-style: normal; letter-spacing: 0px;">Caption Underneath, Hover With Icon</span>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-gallery-item gdlr-core-item-pdb clearfix gdlr-core-gallery-item-style-stack-image gdlr-core-item-pdlr">
                                <div class="gdlr-core-gallery-item-holder gdlr-core-js-2">
                                    <div class="gdlr-core-item-list gdlr-core-item-mgb">
                                        <div class="gdlr-core-gallery-list gdlr-core-media-image">
                                            <a
                                                class="gdlr-core-lightgallery gdlr-core-js"
                                                href="/static/users/assets/upload/shutterstock_1069630346.jpg"
                                                data-lightbox-group="gdlr-core-img-group-6"
                                            >
                                                <img src="/static/users/assets/upload/shutterstock_1069630346-1280x580.jpg" alt="" width="1280" height="580" title="Sofa" />
                                                <span class="gdlr-core-image-overlay"><i class="gdlr-core-image-overlay-icon gdlr-core-size-22 icon_zoom-in_alt"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-item-list gdlr-core-item-mgb">
                                        <div class="gdlr-core-gallery-list gdlr-core-media-image">
                                            <a
                                                class="gdlr-core-lightgallery gdlr-core-js"
                                                href="/static/users/assets/upload/shutterstock_560973166.jpg"
                                                data-lightbox-group="gdlr-core-img-group-6"
                                            >
                                                <img src="/static/users/assets/upload/shutterstock_560973166-1280x580.jpg" alt="" width="1280" height="580" title="Hotel Room" />
                                                <span class="gdlr-core-image-overlay"><i class="gdlr-core-image-overlay-icon gdlr-core-size-22 icon_zoom-in_alt"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-item-list gdlr-core-item-mgb">
                                        <div class="gdlr-core-gallery-list gdlr-core-media-image">
                                            <a
                                                class="gdlr-core-lightgallery gdlr-core-js"
                                                href="/static/users/assets/upload/shutterstock_324822821.jpg"
                                                data-lightbox-group="gdlr-core-img-group-6"
                                            >
                                                <img src="/static/users/assets/upload/shutterstock_324822821-1280x580.jpg" alt="" width="1280" height="580" title="Living Room" />
                                                <span class="gdlr-core-image-overlay"><i class="gdlr-core-image-overlay-icon gdlr-core-size-22 icon_zoom-in_alt"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-item-list gdlr-core-item-mgb">
                                        <div class="gdlr-core-gallery-list gdlr-core-media-image">
                                            <a
                                                class="gdlr-core-lightgallery gdlr-core-js"
                                                href="/static/users/assets/upload/shutterstock_307470824.jpg"
                                                data-lightbox-group="gdlr-core-img-group-6"
                                            >
                                                <img
                                                    src="/static/users/assets/upload/shutterstock_307470824-1280x580.jpg"
                                                    alt=""
                                                    width="1280"
                                                    height="580"
                                                    title="The breakfast"
                                                />
                                                <span class="gdlr-core-image-overlay"><i class="gdlr-core-image-overlay-icon gdlr-core-size-22 icon_zoom-in_alt"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}